################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/tests/RabbitFlow.Tests/bin/Debug/net8.0
/tests/RabbitFlow.Tests/obj
/obj

# Build output (any configuration)
[Bb]in/
[Oo]bj/
# Local pack output
/artifacts/